@import 'variables';

.list-group-item .resource-list-item {
  color: $text-dark;
  display: flex;
  flex-direction: row;
  height: 78px;
  padding: 16px 8px;
  text-decoration: none;

  img.icon,
  .sb-avatar {
    margin: auto 0;
  }

  &:hover img.icon {
    background-color: $brand-color-4;
  }

  .content {
    width: 100%;
    min-width: 0; /* Needed to support `white-space: nowrap` */
  }
}
