<!--
  Copyright Contributors to the Amundsen project.
  SPDX-License-Identifier: Apache-2.0
-->

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Data Discovery Platform | CMD+RVL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if config_override_enabled %}
    <script defer="defer" src="/static/config-external.js"></script>
    {% endif %}
    {% if env == "development" %}
      {% include 'fragments/icons-dev.html' %}
    {% elif env == "staging" %}
      {% include 'fragments/icons-staging.html' %}
    {% else %}
      {% include 'fragments/icons-prod.html' %}
    {% endif %}

    <%= htmlWebpackPlugin.tags.headTags %>

    {% if frontend_base %}
    <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Search Amundsen">
    {% endif %}

    <!-- Do not remove: some analytics scripts attach to this. -->
    <script id="analyitcs-script-stub"></script>

    <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","url":"https://discover.cmdrvl.com/","name":"Data Discovery Platform","description":"Discover datasets and browse metadata curated by CMD+RVL. Mastery of metadata leads to mastery of getting value out of data.","publisher":{"@type":"Corporation","@id":"https://cmdrvl.com#corp","url":"https://cmdrvl.com/","sameAs":"https://cmdrvl.com/company/overview/about-cmdrvl/"},"author":{"@id":"https://cmdrvl.com#corp"},"audience":"Investors and Analysts in CMBS and Auto Loan asset backed securities."}</script>
  </head>
  <body class="{{ env }}">
    <div id="content"/>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
