matrix:
  include:
  - language: python
    python:
    - '3.6'
    env:
    - IS_DEPLOYABLE=true
    install:
    - pip3 install -r requirements.txt
    - pip3 install codecov
    script:
    - make test
    after_success:
    - codecov
  - language: node_js
    node_js:
    - '12'
    env:
    - IS_DEPLOYABLE=false
    before_install:
    - cd amundsen_application/static
    install:
    - npm install
    - npm install codecov -g
    script:
    - npm run lint
    - npm run build
    - npm run test
    after_success:
    - codecov
deploy:
- provider: pypi
  user: amundsen-dev
  password:
    secure: QohFWueXLLye2i8KSNRJGqLU4rw8lZJqlByergtyxKpjTuxxMfgl0ejDlu0qZ6qlGiP3kAaS4zAjwDYCNelQmywYODC4UpjarvhfttkltgPH2YDSgFcMxJt5FRXU8Vxwh+AscNo1sZRzXfFPWMRN525mcxDu6CYFCBp2txFW2O9abNHFPU46Jze314tAgmdceHU/Hbs6WT/mBRQRELXoxbw2u2HBVMiHLKCwfio2857xshKGw5Rz1kvt/FVJ1PxwBP57I+6YUfPoy5rOUZWtSuCdBmNlVFk3v1rX/AIap8+PIMACGlUpKhJVRaAGTnSEVzv6bGD6SMOPZ/nVIYl3GssDhRB5uDP2ttilS+Kvbk9BQ/rbcidxxhIGQ8nDx/Auj6PK2e6Hp77N4k4yKxFjz/8cOQhHIKen9LFDXxGfbyoXV5Izf0aYKgvIJxlh3T8Mg42UbyfvztudyjHI1aG1VRF3Qq6Dt0y2yPJYefeAiLqQnCkrDEKTnr6Kxv5lLEi/XTj+tl/pk+OhuVWHyIBGiG+Nb4lZOuW7uo7xqANu6/Ei9plMK7X5ibpPzzRzAWLSpYHOC7dM457XEbgEcWgHzWMC2u1mHoFDlyKcOOqgkgcwmWJZZI4gVVob9uxukdoPN4IABkWhAXC5wQJ3C1eAddRcDAry0bZvFreupsrLIho=
  distributions: sdist bdist_wheel
  skip_existing: true
  on:
    tags: true
    repo: lyft/amundsenfrontendlibrary
    condition: "$IS_DEPLOYABLE = true"
- provider: script
  script: docker login -u amundsendev -p $DOCKER_LOGIN_PASSWORD && make build-push-image
  on:
    branch: master
    tags: true
    repo: lyft/amundsenfrontendlibrary
    condition: "$IS_DEPLOYABLE = true"
env:
  global:
    secure: EOmj0rOmPTbFz/YUlwDAhi5/9acDayk5lAQeRWQr2HxjDZQzA4qxePQFx4QPAijRHHc5IJ1WwbZdt5OLXIksnFmeCdGD3dBUnbL6fTNCe8YRxtRHZaYlV0/HG+Wmr3hLEMe9RXNSwze7ACcfwByZ3A/Zl3vd9XA3tDkW6PIpMS9I2yHy/CDRxZTVXNAxLJOGSJU97D5wGfAp5Pnp4P4DVeipnmHYtXOczp6LWakETRrCdtMGutTslS0z9zVwqNZUUIF0Tor/re9roEG85soOWNW1Fk9XWdQNAdX6DArkt7Kw8qhZNmDgLP6T49TtMndXRBUg6A1S8yytmte0mfbZjMB77dmvaA9q6refpgk15dhkXFfPUBHf8FlWz+7p4PVDntb7L4zRMZPL/6IYulLhA/83ccGI9e3BLY+jxTH8ao/Mgv4V/jDnX27gxlaUruAjsDceZe6DU73PnHI8gLKr06OZIpq8+GCHeJLj1PzIQwjLNPE68iFrER8HXtzgymZWccV8KWRX8uyX5cZMSsZImeOditl6Xs7dJWrLHCT8wjo+WidG6A8anJOhLNqryOqX5GkCJBL2qc2+7N8zTTZISQFBKE+/ehFBPMpLjmKJLo04G6+SNNImOvxpwB16Ubdh3sKCNQjgEXXwQZirSPkZY0IlJJRDV1utvC8VtthWu6c=
