@import 'variables';

.table-detail {
  .column-layout-1 .left-panel {
    .programmatic-title {
      color: $text-primary;
      margin: 30px 0 10px;
      font-weight: $font-weight-body-bold;
    }

    .programmatic-hr {
      border: 1px solid $gray15;
      margin: 10px 0 4px;
    }
  }

  .header-links {
    .avatar-label {
      &:focus,
      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
