[submodule "amundsengremlin"]
	path = amundsengremlin
	url = https://github.com/amundsen-io/amundsengremlin
	branch = master
[submodule "amundsenrds"]
	path = amundsenrds
	url = https://github.com/foundational-io/amundsenrds.git
	branch = main
