[submodule "amundsengremlin"]
	path = amundsengremlin
	url = https://github.com/amundsen-io/amundsengremlin
	branch = master
[submodule "amundsenrds"]
	path = amundsenrds
	url = https://github.com/amundsen-io/amundsenrds.git
