 Aarni Alasaarela <aarni.alasaarela@gmail.com>
 Adam Boscarino <aboscarino@devoted.com>
 Adam Boscarino <ajboscarino@gmail.com>
 Adam Weiss <amweiss@users.noreply.github.com>
 Alagappan <Alagappan@users.noreply.github.com>
 Alex Kompos <alexkompos@gmail.com>
 Alex Levene <37639249+alevene@users.noreply.github.com>
 Allison Doami <allison.ox@gmail.com>
 Allison Suarez Miranda <22477579+allisonsuarez@users.noreply.github.com>
 Alyssa <alran@users.noreply.github.com>
 Anders Hafreager <andershaf@gmail.com>
 Andrew Ciambrone <andrjc4@vt.edu>
 Anna Elisabeth <anna.e.boyd@gmail.com>
 Anurag870 <f2005870@gmail.com>
 Arjun Landes <arjunlandes@gmail.com>
 ArthurEgide <arthuregide@gmail.com>
 Ashutosh Sanzgiri <sanzgiri@gmail.com>
 Austin Gibbons <austin@periscope.io>
 Ayush Chauhan <10010065+ayushchauhan0811@users.noreply.github.com>
 Ayush Chauhan <57655135+ayush-san@users.noreply.github.com>
 Ben Rifkind <benrifkind@users.noreply.github.com>
 Bongso, Suriyanto <1008875+suriyanto@users.noreply.github.com>
 Bruno Nirello <30416677+bruno-nirello@users.noreply.github.com>
 Bryan Fox <39674+bryfox@users.noreply.github.com>
 Carter Landis <c@carterlandis.com>
 Craig Rosie <craigrosie@users.noreply.github.com>
 Cristiano Perez <cristianoperez@gmail.com>
 Damon <damon09273@gmail.com>
 Daniel <dwon@lyft.com>
 Daniel Mateus Pires <dmateusp@gmail.com>
 Daniel Mateus Pires <dpires@earnestresearch.com>
 Daniel Won <dwon@lyft.com>
 Daren Sin <darensin01@gmail.com>
 Dave Cameron <dave.bc+github@gmail.com>
 Dave Cameron <dcameron@digitalocean.com>
 David Manukian <53464203+davidmanukian@users.noreply.github.com>
 Derek <dschaller@users.noreply.github.com>
 Diksha Thakur <44571635+dikshathakur3119@users.noreply.github.com>
 Dmitriy Kunitskiy <dkunitskiy@lyft.com>
 Dorian Johnson <2019@dorianj.net>
 Dorian Johnson <2020@dorianj.net>
 Florent Bédécarrats <f.bedecarrats@gmail.com>
 Gee <gshock94@gmail.com>
 Gerard Toonstra <gtoonstra@users.noreply.github.com>
 Guido Schmutz <guido.schmutz@trivadis.com>
 Hugo Hobson <hugo.hobson@dazn.com>
 Itay Levy <levyitay@gmail.com>
 Jack Leow <jackgene@gmail.com>
 Jacob Kim <me@jacobkim.io>
 Jacob Kim <me@thejacobkim.com>
 Jacob Scherffenberg <scherffenberg91@gmail.com>
 Jakub Hettler <jakub.hettler@gmail.com>
 James Davidheiser <jdavidheiser@users.noreply.github.com>
 Jan Kyri <thenaturalist@users.noreply.github.com>
 Jin Hyuk Chang <jinchang@lyft.com>
 Jin Hyuk Chang <jinhyukchang.work@gmail.com>
 Joao Correia <joao.correia@gmail.com>
 John Cheng <ckljohn@gmail.com>
 Jonas Brunsgaard <jonas.brunsgaard@gmail.com>
 Jonathan Hehir <jonhehir@users.noreply.github.com>
 Jonathan Vieira <joonathan.vieira@gmail.com>
 Joseph Atkins-Turkish <jatkins-turkish@brex.com>
 Joseph Atkins-Turkish <spacerat3004@gmail.com>
 Josh Howard <joshthoward@gmail.com>
 Josh Stanfield <p5k6@yahoo.com>
 Joshua Hoskins <hoskins@squareup.com>
 Junaid Effendi <junaidfnd@gmail.com>
 Junda Yang <youngyjd@gmail.com>
 Justin Kenny <63694689+JustinKenny@users.noreply.github.com>
 Kent Murra <kmurra@gmail.com>
 Lingkai Kong <lingkai.kong@databricks.com>
 Louis Simoneau <simoneau.louis@gmail.com>
 Luis Garcés-Erice <lga@zurich.ibm.com>
 Lukas Tarasevicius <ltarasevicius@gmail.com>
 Luke Lowery <lukelowery@users.noreply.github.com>
 Lyman Gillispie <l@lygi.me>
 Madison Bowden <52679885+madison-ookla@users.noreply.github.com>
 Madison Swain-Bowden <52679885+madison-ookla@users.noreply.github.com>
 Magnus Runesson <M.Runesson@gmail.com>
 Marcos Iglesias <190833+Golodhros@users.noreply.github.com>
 Mariusz Strzelecki <mariusz.strzelecki@getindata.com>
 Mariusz Strzelecki <szczeles@gmail.com>
 Mark Grover <grover.markgrover@gmail.com>
 Mark Grover <mark@apache.org>
 Markus Thurner <thoean@users.noreply.github.com>
 Martin Traverso <mtraverso@gmail.com>
 Mikhail Ivanov <mikhail.ivanov8@gmail.com>
 Nanne <nanne.wielinga@ing.com>
 Nanne <nanne@mycel.nl>
 Nathan Lawrence <54294432+nathanlawrence-asana@users.noreply.github.com>
 Neil Shah <shahneil88@gmail.com>
 Nipun Agarwal <ibnipun10@gmail.com>
 Norman Cheng <desource1990@yahoo.com>
 Oliver Marshall <Akeboshiwind@users.noreply.github.com>
 Pablo Torre <xctico@gmail.com>
 Palash Das <palashkok3@gmail.com>
 PaschalisDim <48329279+PaschalisDim@users.noreply.github.com>
 Pathuri Sai Harish <saiharish97@gmail.com>
 Paul Bergeron <paul.d.bergeron@gmail.com>
 Pedro Gonçalves Rossi Rodrigues <pgrr@cin.ufpe.br>
 Philippe Mizrahi <39501569+philippemizrahi@users.noreply.github.com>
 Radhakrishna Pemmasani <pemmasanikrish@gmail.com>
 Rafael A. Mejia <rafael@dataminded.net>
 Robert Yi <rosiny@gmail.com>
 Ryan Lieu <rlieu@lyft.com>
 Sahithi Reddy Velma <46659774+sahithi03@users.noreply.github.com>
 Sarah Harvey <worldwise001@users.noreply.github.com>
 Sarthak Killedar <sarthak.killedar@gmail.com>
 Saulius Grigaliunas <saulius@ninja.lt>
 Shaun Elliott <javamonkey79@gmail.com>
 Shenghu Yang <syang@lyft.com>
 Shuichiro MAKIGAKI <shuichiro.makigaki@gmail.com>
 Simon Brugman <sbrugman@users.noreply.github.com>
 Stacey Watro <watro.stacey@gmail.com>
 Tamika Tannis <ttannis@alum.mit.edu>
 Tamika Tannis <ttannis@lyft.com>
 Tao Feng <fengtao04@gmail.com>
 Tao Feng <fengtao04@gmail.com> <tfeng@lyft.com>
 Tao feng <fengtao04@gmail.com> <tfeng@lyft.com>
 Travis Roesner <teqonix@gmail.com>
 Van-Duyet Le <5009534+duyetdev@users.noreply.github.com>
 Verdan Mahmood <verdan.mahmood@gmail.com>
 Wonyeong Choi <ciwnyg0815@gmail.com>
 Xuan <65048031+crazy-2020@users.noreply.github.com>
 Yeshwanth Kumar <morpheyesh@gmail.com>
 Youngil Choi <56865498+duddlf23@users.noreply.github.com>
 Zack Wu <39970089+instazackwu@users.noreply.github.com>
 abhinay04 <68522211+abhinay04@users.noreply.github.com>
 allcontributors[bot] <46447321+allcontributors[bot]@users.noreply.github.com>
 aparna-cimpress <83464696+aparna-cimpress@users.noreply.github.com>
 bluefa <chulyonga@gmail.com>
 bogo96 <bogo96@icloud.com>
 bolkedebruin <bolkedebruin@users.noreply.github.com>
 christina stead <cstead@lyft.com>
 christina stead <csteez@users.noreply.github.com>
 damon09273@gmail.com <damon09273@gmail.com>
 dechoma <dominik.choma@gmail.com>
 dependabot-preview[bot] <27856297+dependabot-preview[bot]@users.noreply.github.com>
 dependabot[bot] <49699333+dependabot[bot]@users.noreply.github.com>
 dwarszawski <dwarszawski@users.noreply.github.com>
 friendtocephalopods <52580251+friendtocephalopods@users.noreply.github.com>
 giomerlin <56041379+giomerlin@users.noreply.github.com>
 github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
 hoskins <52580251+friendtocephalopods@users.noreply.github.com>
 iamtodor <todor.ilya@gmail.com>
 joeybaer <35610156+joeybaer@users.noreply.github.com>
 jonhehir <jonhehir@users.noreply.github.com>
 jornh <jornhansen@gmail.com>
 lelandtran <lelandtran@ymail.com>
 lexisantoro <43476866+lexisantoro@users.noreply.github.com>
 louis <1160507+naiaden@users.noreply.github.com>
 lyft-metaservice-3 <37090125+lyft-metaservice-3@users.noreply.github.com>
 mborukhava <43936420+mborukhava@users.noreply.github.com>
 mgorsk1 <gorskimariusz13@gmail.com>
 minsu <o.minsu@gmail.com>
 rogertangcn <rogertangcn@users.noreply.github.com>
 rosejcday <16930240+rosejcday@users.noreply.github.com>
 salilk957 <49253336+salilk957@users.noreply.github.com>
 samshuster <sshuster@edmunds.com>
 sewardgw <Sewardgw@gmail.com>
 sewardgw <grant@stemma.ai>
 sinkuladis <sink.vlad@gmail.com>
 sshuster <sshuster@edmunds.com>
 sterlins <stacy.sterling@gmail.com>
 tianr.zhou <61992569+tianruzhou-db@users.noreply.github.com>
 tianru zhou <61560998+UnbalancedShard@users.noreply.github.com>
 verdan <verdan.mahmood@gmail.com>
 zhmin <myzhmin@gmail.com>
 Đặng Minh Dũng <dungdm93@live.com>
 之东 <0x4ec7@gmail.com>
