@import 'variables';

.btn.tag-button {
  background-color: $gray-lightest;
  border: 0;
  border-radius: 4px;
  color: $text-dark;
  margin: 4px;
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.compact {
    line-height: 14px;
    height: 30px;
    margin: 2px;
  }

  &:hover,
  &:focus {
    color: $text-dark;
    background-color: $gray-lighter;
  }

  .tag-count {
    color: $text-medium;
    margin-left: 8px;
  }
}
