@import 'variables';

/* TODO: Not the greatest sticky footer implementation */
.footer {
  border-top: 1px solid $gray-lighter;
  background-color: white;
  color: $text-medium;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.phantom-div {
  display: block;
  padding: 20px;
  height: 48px;
  width: 100%;
}
