@import 'variables';

/* TODO: Not the greatest sticky footer implementation */
.footer {
  border-top: 1px solid $stroke;
  background-color: $white;
  color: $text-secondary;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  z-index: 10;
}

.phantom-div {
  display: block;
  padding: 20px;
  height: 48px;
  width: 100%;
}
