amundsen-common>=0.3.0,<1.0
aniso8601==3.0.0
pyatlasclient==1.0.3
click==6.7
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
flake8==3.5.0
flake8-tidy-imports==1.1.0
flasgger==0.9.3
Flask==1.0.2
Flask-RESTful==0.3.6
flask-cors==3.0.8
isort[colors]~=5.4
itsdangerous==0.24
Jinja2>=2.10.1
jsonschema==2.6.0
marshmallow>=2.15.3,<3.0
marshmallow-annotations>=2.4.0,<3.0
mock==2.0.0
mypy==0.660
pytest==3.5.1
pytest-cov==2.5.1
pytest-mock==1.1
pytz==2018.4
six==1.11.0
statsd==3.2.1
typing==3.6.4
Werkzeug==0.15.3
wheel==0.31.1
