@import 'variables';

.modal-dialog {
  width: 90%;

  .modal-content {
    min-height: 90%;

    .modal-title {
      font-family: $font-family-sans-serif-bold;
      font-weight: $font-weight-sans-serif-bold;
    }
    .modal-body {
      margin: 15px;
      overflow-y: scroll;
      padding: 0;
      text-align: center;

      .grid {
        display: flex;
      }
      .grid-column {
        flex-grow: 1;
      }
      .grid-header.grid-cell {
        font-size: 14px;
        background-color: $gray-lighter;
        height: 40px;
        font-family: $font-family-sans-serif-bold;
        font-weight: $font-weight-sans-serif-bold;
      }
      .grid-cell {
        display: flex;
        padding: 8px;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        min-width: 0px;
        height: 32px;
        text-align: center;
        white-space: nowrap;
        border-bottom: 1px solid $gray-light;
      }
    }
  }
}
