language: python
python: 
- '3.6'
install:
- pip install -r requirements.txt
- pip install .[all]
- pip install codecov
script:
- make test
after_success:
- codecov
deploy:
  provider: pypi
  user: amundsen-dev
  password:
    secure: mnOKYrqh1ihznQcSGrn/REY0fcZtnCpXyorhqtyTYX+bjRnxItVWl3NA0jJv7KaC5+bNEoDpBAUz6gPYh52jansfDe55pI+GpLrKL4j8ce32Vd0SIqo4ABP3gFV8Nx6xEqNbnRLnZSzgfUqDqk+epCrbtzfe0srneVavXeGAHNrr3iMX0Z3Im6N3dqTobeROlnU/jF5Dch++w+kqSMo+Wcy8A+JVUeXYl5r6UTuUqNUgThvv5mowEcENDea3WAQ7qroR1siASGNCNWWNkmJ/oW+UJnlInQiHDpnQQY7GAiM0tZ+KNIjq2bG8LYMOcvrm4/OsVtZdhuGfxw+4sp7ajgPclDVUHJI67QHfzhpQ6KtIRrcyTI1Rwr9SX7d5nW4e++2d3q2yZyw2NoPjcIOGAcw9TRNvpG/oIig4TeaDzkrZmt9kD4wzI9n2HZ5p0nnn2mF4Xq7ZnaqohJfWx0pCQCQ2GO5+nApyRLAcYr4FdzGnpz+xTjAGEOvtRcYnLzmnq6a1AFkZSRkGdETDF3Pxn+kSha+L28I8MV3pxV6eX9WZ9LXhiIBobrOStE8jGLKqyYLw8MYU1XVNhP2M3lStJ3fGp0zCHFq4a+vewSgvVRfFdtudnu/ZrgJOfekr7dT5NS0R5MxVXSWrKK5JV2vTsXzzBd4+UcGm7IabqAk2rCU=
  distributions: sdist bdist_wheel
  skip_existing: true
  on:
    tags: true
    repo: amundsen-io/amundsendatabuilder
