@import 'variables';

.list-group .list-group-item.detail-list-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /* tmp fixes until we refactor/settle on styles */
  cursor: default;
  border-top-color: $gray-lighter !important;
  border-bottom-color: $gray-lighter !important;
  background-color: transparent !important;
  padding: 10px 4px;

  .description {
    max-width: 100%;
    min-width: 0;
  }

  .truncated .editable-text,
  .truncated .editable-text p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description-container {
    display: flex;
    justify-content: space-between;
  }

  .column-info {
    display: flex;
    flex-direction: row;
    margin: -10px -4px 0;
    padding: 10px 4px 0;

    .title-section {
      width: 100%;
      overflow-wrap: break-word;

      .title-row {
        display: flex;
        flex-direction: row;

        .name {
          margin-right: 8px;
          max-width: 85%;
        }
        .column-type {
          margin-top: 4px;
          max-width: 15%;
        }

        a.column-type {
          text-decoration: none;
        }
      }
    }

    &.expandable {
      cursor: pointer;

      &:hover {
        background-image: linear-gradient($gray-lightest, $gray-lightest, white);

        .icon {
          background-color: $brand-color-4;
        }
      }
    }
  }

  .column-stats {
    display: block;
    margin-top: 8px;
    width: 100%;

    .column-stat {
      display: inline-block;
      margin-top: 8px;
      max-width: 150px;
      min-width: 120px;
      width: 20%;
    }

    .stat-collection-info {
      color: $text-medium;
      font-style: italic;
      margin-top: 4px;
    }
  }
  .open {
    .dropdown-icon-more {
      box-shadow: none;
      visibility: visible;
    }
  }

  .dropdown-icon-more {
    border-style: none;
    border-radius: 4px;
    height: 22px;
    width: 22px;
    padding: 4px;
    margin-right: 5px;
    .icon {
      background-color: $gray-light;
      height: 14px;
      -webkit-mask-size: 14px;
      mask-size: 14px;
      width: 14px;
      margin: 0;
    }
    &:hover,
    &:focus {
      background-color: $gray-lightest;
      .icon {
        background-color: $gray-base;
      }
    }
  }
}
