// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

// Roboto
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $font-weight-header-regular;
  src: url('/static/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: $font-weight-header-bold;
  src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
}

// Open Sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-body-regular;
  src: url('/static/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-body-semi-bold;
  src: url('/static/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-body-bold;
  src: url('/static/fonts/OpenSans-Bold.ttf') format('truetype');
}
