@import 'variables';

img.icon {
  background-color: $icon-bg;
  border: none;
  height: 24px;
  margin: -3px 4px -3px 0px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  min-width: 24px;
  width: 24px;
  -webkit-mask-size: 24px 24px;
  mask-size: 24px 24px;

  &.icon-small {
    height: 16px;
    width: 16px;
    min-width: 16px;
    -webkit-mask-size: 16px 16px;
    mask-size: 16px 16px;
  }

  &.icon-color {
    background-color: $icon-bg-brand;
  }

  &.icon-dark {
    background-color: $icon-bg-dark;
  }

  // TODO - Add other icons here


  &.icon-alert {
    -webkit-mask-image: url('/static/images/icons/Alert-Triangle.svg');
    mask-image: url('/static/images/icons/Alert-Triangle.svg');
  }

  &.icon-bigquery {
    content: url('/static/images/icons/logo-bigquery.svg');
    background-color: transparent;
  }

   &.icon-bookmark {
    -webkit-mask-image: url('/static/images/icons/Favorite.svg');
    mask-image: url('/static/images/icons/Favorite.svg');
  }

   &.icon-bookmark-filled {
    -webkit-mask-image: url('/static/images/icons/Favorite-Filled.svg');
    mask-image: url('/static/images/icons/Favorite-Filled.svg');
  }

  &.icon-delete {
    -webkit-mask-image: url('/static/images/icons/Trash.svg');
    mask-image: url('/static/images/icons/Trash.svg');
  }

  &.icon-database {
    -webkit-mask-image: url('/static/images/icons/Database.svg');
    mask-image: url('/static/images/icons/Database.svg');
  }

  &.icon-red-triangle-warning {
    -webkit-mask-image: url('/static/images/icons/DataQualityWarning.svg');
    mask-image: url('/static/images/icons/DataQualityWarning.svg');
  }

  &.icon-down {
    -webkit-mask-image: url('/static/images/icons/Down.svg');
    mask-image: url('/static/images/icons/Down.svg');
  }

  &.icon-edit {
    -webkit-mask-image: url('/static/images/icons/Edit.svg');
    mask-image: url('/static/images/icons/Edit.svg');
  }

  &.icon-help {
   -webkit-mask-image: url('/static/images/icons/Help-Circle.svg');
   mask-image: url('/static/images/icons/Help-Circle.svg');
 }

  &.icon-hive {
    content: url('/static/images/icons/logo-hive.svg');
    background-color: transparent;
  }

  &.icon-github {
    -webkit-mask-image: url('/static/images/icons/github.svg');
    mask-image: url('/static/images/icons/github.svg');
  }

  &.icon-left {
    -webkit-mask-image: url('/static/images/icons/Left.svg');
    mask-image: url('/static/images/icons/Left.svg');
  }

  &.icon-loading {
    -webkit-mask-image: url('/static/images/icons/Loader.svg');
    mask-image: url('/static/images/icons/Loader.svg');
  }

  &.icon-mail {
    -webkit-mask-image: url('/static/images/icons/mail.svg');
    mask-image: url('/static/images/icons/mail.svg');
  }

  &.icon-plus {
    -webkit-mask-image: url('/static/images/icons/plus.svg');
    mask-image: url('/static/images/icons/plus.svg');
  }

  &.icon-plus-circle {
    -webkit-mask-image: url('/static/images/icons/Plus-Circle.svg');
    mask-image: url('/static/images/icons/Plus-Circle.svg');
  }

  &.icon-postgres {
    content: url('/static/images/icons/logo-postgres.svg');
    background-color: transparent;
  }

  &.icon-presto {
    content: url('/static/images/icons/logo-presto.svg');
    background-color: transparent;
  }

  &.icon-preview {
    -webkit-mask-image: url('/static/images/icons/Preview.svg');
    mask-image: url('/static/images/icons/Preview.svg');
  }

  &.icon-redshift {
    content: url('/static/images/icons/logo-redshift.svg');
    background-color: transparent;
  }

  &.icon-refresh {
    -webkit-mask-image: url('/static/images/icons/Refresh-cw.svg');
    mask-image: url('/static/images/icons/Refresh-cw.svg');
  }

  &.icon-right {
    -webkit-mask-image: url('/static/images/icons/Right.svg');
    mask-image: url('/static/images/icons/Right.svg');
  }

  &.icon-search {
    -webkit-mask-image: url('/static/images/icons/Search.svg');
    mask-image: url('/static/images/icons/Search.svg');
  }

  &.icon-send {
    -webkit-mask-image: url('/static/images/icons/Send.svg');
    mask-image: url('/static/images/icons/Send.svg');
  }

  &.icon-slack {
    -webkit-mask-image: url('/static/images/icons/slack.svg');
    mask-image: url('/static/images/icons/slack.svg');
  }

  &.icon-up {
    -webkit-mask-image: url('/static/images/icons/Up.svg');
    mask-image: url('/static/images/icons/Up.svg');
  }

  &.icon-users {
    -webkit-mask-image: url('/static/images/icons/users.svg');
    mask-image: url('/static/images/icons/users.svg');
  }

  &.icon-more {
    -webkit-mask-image: url('/static/images/icons/More.svg');
    mask-image: url('/static/images/icons/More.svg');
  }
}

.disabled,
:disabled {
  > img.icon,
  > img.icon.icon-color {
    background-color: $icon-bg-disabled;
  }
}
