// TODO - Try to implement this with bootstrap variables
@import 'variables';

.list-group-item {
  border: 1px solid $gray-light;
  border-left: none;
  border-right: none;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;

  &:hover {
    border-color: $gray;
    background-color: $gray-lightest;
  }

  &:hover + li {
    border-top-color: $gray;
  }
}
