@import 'bootstrap-custom';

@import 'buttons';
@import 'fonts';
@import 'icons';
@import 'list-group-item';
@import 'popovers';

// TODO - Find a better place for misc styles.
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
form {
  margin-bottom: 0;
}

