@import 'bootstrap-custom';

@import 'avatars';
@import 'buttons';
@import 'dropdowns';
@import 'fonts';
@import 'icons';
@import 'inputs';
@import 'labels';
@import 'layouts';
@import 'list-group';
@import 'pagination';
@import 'popovers';
@import 'typography';

// TODO - Move to separate files
// Layout
#main {
  min-width: $body-min-width;
}

#main > .container {
  margin: 96px auto 48px;
}

@media (max-width: $screen-md-max) {
  #main > .container {
    margin: 64px auto 48px;
  }
}

@media (max-width: $screen-sm-max) {
  #main > .container {
    margin: 32px auto 48px;
  }
}


// Misc
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
form {
  margin-bottom: 0;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
