@import 'variables';
.feedback-icon {
  height: 32px;
  width: 32px;
  outline: 0 !important;

  img {
    margin: 4px;
    background-color: $white;
  }

  &:hover,
  &:focus,
  &.is-open {
    border-radius: 50%;
    border: 6px solid $white;

    img {
      margin: -2px 0 0 -2px;
      &.icon.icon-help {
        background-color: white !important;
      }
    }
  }
}

.feedback-component {
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, .2);
  top: $nav-bar-height + 4px;
  position: fixed;
  right: 76px;
  z-index: 2;

  background-color: $white;
  border-radius: 6px;
  height: auto;
  min-height: 450px;
  padding: 32px;
  width: 400px;

  color: $text-primary;

  .feedback-header {
    display: flex;
    margin-bottom: 8px;
    .title {
      flex-grow: 1;
    }

    button {
      margin: auto 0;
    }
  }

  .btn-group {
    margin: 8px auto 16px;
  }

  .radio-set {
    display: flex;
    margin-top: 8px;
  }

  .radio-set-item {
    cursor: pointer;
  }

  .radio-set .radio-set-item:not(:first-child) {
    margin-left: 12px;
  }

  .radio-set-item label {
    width: 100%;
    text-align: center;
  }

  .nps-label {
    font-family: $font-family-header;
    font-weight: $font-weight-header-regular;
    margin-bottom: 15px;
    width: 65px;
  }

  .status-message {
    font-family: $font-family-header;
    font-weight: $font-weight-header-regular;
    text-align: center;
    position: absolute;
    font-size: 20px;
    color: $text-secondary;
    /* for centering when parent has automatic height */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  input[type="radio"] {
    margin: 5px;
  }

  input[type="text"] {
    color: $text-secondary !important;
  }

  textarea {
    width: 100%;
    color: $text-secondary !important;
    border: 1px solid $gray-lighter;
    border-radius: 5px;
    padding: 10px;
  }
}
