@import 'variables';

.search-page {

  .tabs-component,
  .search-list-container {
    margin-top: 32px;
  }

  @media (max-width: $screen-sm-max) {
    .tabs-component,
    .search-list-container {
      margin-top: 16px;
    }
  }

  .popular-tables-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;

  }


  .tab-content {
    .search-list-header {
      label {
        color: $text-medium;
        font-size: 18px;
      }
    }

    .list-group-item:first-child {
      border-top: none;
    }
  }

  .search-error {
    color: $text-medium;
    text-align: center;
  }

  .search-pagination-component {
    display: flex;
    justify-content: center;
  }

  .pagination > li {
    > a,
    > span {
      border: 1px solid $gray-lighter;
      color: $brand-color-4;

      &:focus,
      &:hover {
        background-color: $gray-lighter;
        color: $link-hover-color;
        z-index: 0;
      }
    }

    &.active {
      > a,
      > span {
        &,
        &:active,
        &:hover,
        &:focus {
          background-color: $brand-color-4;
          border-color: $brand-color-4;
          color: white;
          z-index: 0;
        }
      }
    }
  }
}
