@import 'variables';

.request-component {
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, .2);
  border-radius: 6px;
  bottom: 75px;
  display: block;
  left: 25px;
  position: fixed;
  z-index: 6;

  &.expanded {
    background-color: white;
    height: auto;
    min-height: 450px;
    padding: 32px;
    width: 400px;

    .title {
      flex-grow: 1;
    }

    .request-header {
      display: flex;
    }

    .select-label {
      display: block;
      font-weight: $font-weight-body-regular;
    }

    input,
    textarea {
      color: $text-medium;
    }
    input[type="checkbox"] {
      margin-right: 8px;
    }
  }
}
