@import 'variables';

.entity-card {
  border-radius: 2px;
  border-top: 4px solid $gradient-4;
  box-shadow: 0 0 24px -2px rgba(0, 0, 0, .2);
  padding: 32px;
}

@media (max-width: $screen-sm-max) {
  .entity-card {
    border: 0;
    box-shadow: none;
    padding: 0;
    margin-bottom: 32px;
  }
}
