@import 'variables';

.announcement-container hr {
  border: 2px solid $brand-color-4;
}

.post-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;

  .post-header {
    padding-right: 16px;
    border-right: 1px solid $stroke;

    .post-title {
      width: 150px;
    }
  }

  .post-content {
    padding-left: 16px;
  }
}
