@import 'variables';

.delete-button {
  color: $gray-light;
  height: 24px;
  width: 24px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  border: 0;
}
.delete-button button:hover,
.delete-button button:focus {
  color: $gradient-4;
  opacity: 1;
}

.popover-content {
  padding: 0px;
}
.popover-content button {
  height: 24px;
  width: 50%;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  background-color: $gray-darker;
  color: $body-bg;
  font-family: $font-family-sans-serif-bold;
  font-weight: $font-weight-sans-serif-bold;
  outline: none;
}
.popover-content button:hover,
.popover-content button:focus {
  color: $gray-light;
}
