// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';
@import 'typography';

.lineage-message {
    margin-top: -$spacer-3;
    padding: $spacer-2;
    background-color: $gray5;
    border-bottom: 1px solid $gray15;
    text-align: center;
}
