@import 'variables';

.watermark-label {
  display: flex;

  .range-icon {
    flex-basis: 12px;
    height: 40px;
    width: 12px;
    margin-right: 16px;
  }

  .range-labels {
    flex-basis: 50px;
  }
}
