// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.dashboard-page {
  .header-section {
    .flag {
      margin: 0 $spacer-1;
    }
  }

  .edit-link {
    text-decoration: none;
  }

  .last-run-state {
    .flag {
      margin: $spacer-1 0 0 0;
    }
  }

  .image-preview {
    margin-top: $spacer-1;
  }
}
