@import 'variables';

.not-found-page {
  h1 {
    text-align: center;
  }

  span  {
    text-align: center;
    width: 100%;
  }
}

.glyphicon.glyphicon-exclamation-sign {
  font-size: 75px;
  color: $brand-primary;
}
