@import 'variables';
@import 'typography';

.lineage-graph {
  display: inline-block;
  position: relative;
  width: 100%;
  //padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
  background: linear-gradient(90deg, $gray5 50%, $gray0 50%);

  .svg-content {
    display: block;
    margin: auto;
    //position: absolute;
    //top: 0;
    //left: 0;

    .direction-label {
      font-family: $font-family-header !important;
      font-weight: $font-weight-header-bold;
      color: $gray30;
      width: 150px;
      height: 30px;
      text-transform: uppercase;

      &.upstream-label {
        direction: rtl;
      }

      img.icon {
        background-color: $gray30;
      }
    }
  }
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: $purple60;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;

  &.plus {
    fill: $purple60;
    font-size: 25px;
  }
}

.link {
  fill: none;
  stroke: rgba(12, 11, 49, 0.16);
  stroke-width: 2px;
}

.upstream-tree node,
.upstream-tree text {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
