// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.list-group-item .column-list-item {
  padding: 16px 24px;

  .column-header {
    display: flex;
    height: 38px;

    .column-details {
      flex-basis: 50%;
      flex-grow: 1;
      margin-right: 16px;
    }

    .resource-type,
    .badges,
    .actions {
      align-items: center;
      display: flex;
    }

    .resource-type {
      flex-basis: 100px;
      overflow: hidden;
    }

    .badges {
      // placeholder
    }

    .actions {
      .column-dropdown {
        &.open {
          background-color: $body-bg-tertiary;

          .icon {
            background-color: $icon-bg-dark;
          }
        }

        .dropdown-toggle {
          border: none;
          border-radius: 4px;
          height: 32px;
          padding: 4px;
          width: 32px;

          .icon {
            background-color: $icon-bg;
            height: 22px;
            margin: 0;
            -webkit-mask-size: 22px;
            mask-size: 22px;
            width: 22px;
          }

          &:hover,
          &:focus {
            background-color: $body-bg-secondary;

            .icon {
              background-color: $icon-bg-dark;
            }
          }
        }
      }
    }
  }

  .expanded-content {
    margin-top: -16px;
  }

  .stop-propagation {
    cursor: default;
  }
}
