// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.preferences-title {
  margin-bottom: 72px;
}

.preference-group {
  display: flex;
  margin-bottom: 32px;
}

.preference-text {
  margin-left: 16px;
}
