// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

.loading-spinner {
  display: block;
  height: 100px;
  margin: auto;
  margin-top: 20%;
  width: 100px;
}

/* SpinnerOverlay.css */
.spinner-overlay {
  position: fixed; /* or 'absolute' if the parent is relative */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white */
  z-index: 1000; /* high z-index to ensure it's on top */
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  /* Your spinner styling */
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: block;
  height: 100px;
  margin: auto;
  margin-top: 20%;
  width: 100px;
}
