@import 'variables';

.bookmark-list {
  margin: 32px 0;

  .title-1 {
    margin-bottom: 32px;
  }

  .tabs-component {
    .nav.nav-tabs {
      margin: 0;
    }

    .tab-content .list-group-item:first-child {
      border-top: none;
    }
  }
}
