// Copyright Contributors to the Amundsen project.
// SPDX-License-Identifier: Apache-2.0

@import 'variables';

$writer-dropdown-padding-top: 5px;
$writer-dropdown-max-size: 300px;
$menu-title-font-size: 12px;
$menu-item-row-gap: 15px;
$menu-item-content-height: 18px;

.writer-dropdown {
  margin-right: $spacer-half !important;

  .writer-dropdown-button {
    border: 0;
    padding: $writer-dropdown-padding-top $spacer-1;
  }

  .writer-dropdown-menu {
    max-width: $writer-dropdown-max-size;
    max-height: $writer-dropdown-max-size;
    overflow-y: scroll;
    line-height: normal;
  }

  .writer-dropdown-menu-title {
    margin: $spacer-2 $spacer-2 0 $spacer-2;
    line-height: $spacer-2;
    text-transform: uppercase;
    font-size: $menu-title-font-size;
    white-space: nowrap;
  }

  .writer-dropdown-menu-item {
    &.last-item {
      margin-bottom: $spacer-1;
    }
  }

  .writer-dropdown-menu-item-row {
    margin: 0 $spacer-1 0 $spacer-1;

    &.airflow-app {
      display: flex;
      gap: $menu-item-row-gap;
    }

    .menu-item-content {
      line-height: $menu-item-content-height;
      max-width: fit-content;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
