@import 'variables';

.nav-bar {
  height: $nav-bar-height;
  background: $nav-bar-color;
  padding: 0px 32px 1px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .nav-bar-left {
    flex-basis: 234px;
    span.title-3 {
      color: $white;
    }
  }

  .nav-bar-right {
    margin-left: auto;
    display: flex;
    a {
      color: $white;
      display: inline-block;
      height: 100%;
      line-height: 32px;
      padding: 0 8px;

      &.border-bottom-white:hover,
      &.border-bottom-white.active {
        border-bottom: 4px solid $white;
      }
   }

    .nav-bar-avatar {
      &:not(.avatar-dropdown) {
        .sb-avatar {
          margin: 4px 0 0 4px;
        }
      }
      background-color: $nav-bar-color;
      border-style: none;
      border-radius: 50%;
      margin-top: -4px;
      padding: 0;
      height: 40px;
      width: 40px;

      &:hover {
        background-color: $white;
      }
    }
  }

  .nav-bar-left,
  .nav-bar-right {
    height: 100%;
    padding-top: 12px;
    a {
      text-decoration: none;
    }
  }

  .nav-bar-right > *:not(:last-child) {
    margin-right: 12px;
  }

  .search-bar {
    flex-grow: 1;
    margin: auto 16px auto auto;
  }

  .logo-icon {
    max-height: 32px;
    max-width: 144px;
    margin-right: 16px;
  }

  .profile-menu {
    $profile-menu-width: 200px;
    width: $profile-menu-width;

    .profile-menu-header {
      padding: 16px 16px 0 16px;
    }

    li {
      a {
        color: $text-primary;
        padding: 16px;
        width: 100%;
      }
    }
  }
}
