@import 'variables';

.profile-page {
  .profile-avatar {
    display: inline-block;
    margin: 6px 16px 0 0;
  }

  .header-title-text {
    .flag {
      margin-left: 8px;
    }
  }

  .profile-tabs {
    margin-top: 24px;

    .nav-tabs {
      margin-left: 16px;
    }

    .list-group {
      margin-top: 0;
    }


    // TODO: consider moving logic for empty content into Tab component
    .empty-tab-message {
      margin-top: 32px;
      text-align: center;
    }
  }
}
