@import 'variables';

.editable-list-component button {
  color: $gray-light;
  height: 24px;
  width: 24px;
  margin: auto;
  opacity: 1;
}

.editable-list-component  button:hover {
  color: $gradient-4;
  opacity: 1;
}

.editable-list-component  button:focus,
.editable-list-component  input:focus {
  outline: none;
  box-shadow: 0 0 1pt 1pt $gradient-3;
}

.editable-list-component  input:focus {
  border: 1px solid rgba(255,255,255, 0.9);
}

.editable-list-component .add-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  border: 0;
  margin: 4px 0px 0px auto;
}

.component-form {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.component-form-title {
  margin: 0px;
}
.component-form-group {
  display: flex;
  flex-direction: column;
}
.component-form-label {
  font-size: 12px;
}

.component-list {
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 10px 0px;
}
.component-list li {
  display: flex;
  margin: 1px;
}
.component-list li > :first-child {
  flex-grow: 1;
}
